@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --colorPrimary: #e1ebf5;
    --colorWhite: #fff;
    --colorBlack: #000;
    --colorGrey: #585b5e;
    --colorLightGrey: #a9afb4;
    --blueShade: #0C68E9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--colorBlack);
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--colorPrimary);
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    background-color: var(--colorPrimary);
}

.loader-wrapper .loader-text {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.loader-wrapper .loader-text h1 {
    font-size: 3vw;
    transform: translateY(100%);
    animation: loadText 0.3s ease-in-out forwards;
}

@keyframes loadText {
    to {
        transform: translateY(0);
    }
}

.loader-wrapper .loader-stroke {
    width: 20vw;
    height: 0.2vw;
    border-radius: 100vw;
    background-color: var(--colorWhite);
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.loader-wrapper .loader-stroke .loader-inner-stroke {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--blueShade);
    border-radius: 100vw;
    box-shadow: 0 0 50px var(--blueShade);
    animation: loadingBar 1s linear forwards;
}

@keyframes loadingBar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 0 2vw;
}

nav .nav-bar {
    background-color: var(--colorWhite);
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 0 0 1.2vw 1.2vw;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    position: relative;
}

nav .nav-bar a {
    text-decoration: none;
}

nav .nav-bar a .nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

nav .nav-bar a .nav-left img {
    width: 3vw;
    border-radius: 0.8vw;
}

nav .nav-bar a .nav-left h1 {
    font-size: 2vw;
}

nav .nav-bar .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

nav .nav-bar .nav-right .menu-icon {
    height: 3vw;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorPrimary);
    border-radius: 0.8vw;
    font-size: 1.5vw;
    cursor: pointer;
}

nav .nav-bar .nav-right .nav-search {
    height: 3vw;
    width: 30vw;
    position: relative;
}

nav .nav-bar .nav-right .nav-search input {
    height: 100%;
    width: 100%;
    padding: 0 4vw 0 1vw;
    border-radius: 0.8vw;
    border: none;
    outline: none;
    background-color: var(--colorPrimary);
    font-size: 1.2vw;
    font-weight: 500;
}

nav .nav-bar .nav-right .nav-search .nav-search-icon {
    cursor: pointer;
    height: 100%;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.8vw;
    background-color: var(--colorBlack);
}

nav .nav-bar .nav-right .nav-search .nav-search-icon i {
    font-size: 1.2vw;
    color: var(--colorWhite);
}

nav .nav-bar .menu {
    height: 0;
    width: 35vw;
    overflow: hidden;
    background-color: var(--colorWhite);
    position: absolute;
    top: calc(100% - 1vw);
    right: 0;
    z-index: 1;
    border-radius: 0 0 1vw 1vw;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

nav .nav-bar .menu .menu-search {
    display: none;
}

nav .nav-bar .menu .menu-body {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

nav .nav-bar .menu .menu-body .menu-head h1 {
    font-size: 1.4vw;
    text-transform: uppercase;
    color: var(--colorGrey);
    border-bottom: 2px solid var(--colorGrey);
    font-weight: 600;
}

nav .nav-bar .menu .menu-body .menu-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8vw;
}

nav .nav-bar .menu .menu-body .menu-links a {
    padding: 0.5vw 1vw;
    background-color: var(--colorPrimary);
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 500;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

nav .nav-bar .menu .menu-body .menu-links a:hover {
    background-color: var(--blueShade);
    color: var(--colorWhite);
}

nav .nav-bar .menu .menu-body .menu-links a:nth-child(1) {
    background-color: var(--blueShade);
    color: var(--colorWhite);
}

nav .nav-bar .menu .menu-body .menu-links a:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
}

nav .nav-bar .menu .menu-body .menu-links a:nth-child(6) {
    grid-column-start: -4;
    grid-column-end: -2;
}

main {
    padding: 1vw 0 2vw 0;
}

main .hero-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.2vw;
    margin: 2vw;
}

main .hero-wrapper .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2vw;
    padding: 1.2vw;
    background-color: var(--colorWhite);
    width: 100%;
    border-radius: 1.2vw;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
}

main .hero-wrapper .hero-section .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
    position: relative;
}

main .hero-wrapper .hero-section .hero-left .live-indicator {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 600;
}

main .hero-wrapper .hero-section .hero-left .live-indicator::before,
main .hero-wrapper .hero-section .hero-left .live-indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -1.3vw;
    transform: translate(0, -50%);
    height: 0.8vw;
    width: 0.8vw;
    background-color: #f00;
    border-radius: 50%;
}

main .hero-wrapper .hero-section .hero-left .live-indicator::after {
    animation: scaleUp 4s linear infinite;
}

@keyframes scaleUp {
    0% {
        opacity: 1;
        transform: translate(0, -50%) scale(1);
    }

    25% {
        opacity: 0;
        transform: translate(0, -50%) scale(2.5);
    }

    100% {
        opacity: 0;
        transform: translate(0, -50%) scale(2.5);
    }
}

main .hero-wrapper .hero-section .hero-left .hero-left-head h2 {
    color: var(--colorGrey);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2vw;
}

main .hero-wrapper .hero-section .hero-left .hero-left-head h1 {
    color: var(--colorBlack);
    font-weight: 700;
    font-size: 1.8vw;
}

main .hero-wrapper .hero-section .hero-left .hero-left-body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main .hero-wrapper .hero-section .hero-left .hero-left-body h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
}

main .hero-wrapper .hero-section .hero-left .hero-left-body .hero-left-team {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

main .hero-wrapper .hero-section .hero-left .hero-left-body .hero-left-team img {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

main .hero-wrapper .hero-section .hero-left .hero-left-body .hero-left-team h2 {
    font-size: 1.8vw;
}

main .hero-wrapper .hero-section .hero-left .hero-left-body .hero-left-team h3 {
    font-size: 1.4vw;
    text-align: center;
}

main .hero-wrapper .hero-section .hero-left .hero-left-body .hero-left-team h3 span {
    color: var(--colorGrey);
    font-weight: 600;
}

main .hero-wrapper .hero-section .hero-left .hero-left-match-info h1 {
    font-size: 1.3vw;
    font-weight: 700;
}

main .hero-wrapper .hero-section .hero-left .hero-left-match-info h1.crr {
    text-align: center;
    margin-bottom: 1vw;
}

main .hero-wrapper .hero-section .hero-left .hero-left-match-info h1 span {
    color: var(--colorGrey);
    font-weight: 600;
}

main .hero-wrapper .hero-section .hero-left .hero-left-buttons {
    align-self: flex-end;
}

main .hero-wrapper .hero-section .hero-left .hero-left-buttons button {
    padding: 0.7vw 2vw;
    background-color: var(--blueShade);
    color: var(--colorWhite);
    font-size: 1.2vw;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 0.8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.2s;
}

main .hero-wrapper .hero-section .hero-left .hero-left-buttons button i {
    color: var(--colorWhite);
}

main .hero-wrapper .hero-section .hero-left .hero-left-buttons button:active {
    transform: scale(0.98);
    background-color: #0b54b9;
}

main .hero-wrapper .hero-section .hero-right {
    position: relative;
    border-radius: 0.8vw;
    overflow: hidden;
}

main .hero-wrapper .hero-section .hero-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

main .hero-wrapper .hero-section .hero-right .hero-right-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    padding: 1vw;
    background: linear-gradient(to bottom, transparent, var(--colorBlack));
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--colorWhite);
}

main .hero-wrapper .hero-section .hero-right .hero-right-info h2 {
    color: var(--colorLightGrey);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2vw;
}

main .hero-wrapper .hero-section .hero-right .hero-right-info .hero-right-info-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .hero-wrapper .hero-section .hero-right .hero-right-info .hero-right-info-text h1,
main .hero-wrapper .hero-section .hero-right .hero-right-info .hero-right-info-text h2 {
    color: var(--colorWhite);
    font-weight: 600;
    font-size: 1.6vw;
}

main .hero-wrapper .world-cup-standings {
    background-color: var(--colorWhite);
    border-radius: 1.2vw;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    padding: 3.8vw 1.2vw 1.2vw 1.2vw;
    position: relative;
    overflow: hidden;
}

main .hero-wrapper .world-cup-standings .world-cup-standings-head {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--colorBlack);
    padding: 0.5vw 1.2vw;
    border-radius: 1.2vw 0 1.2vw 0;
}

main .hero-wrapper .world-cup-standings .world-cup-standings-head h1 {
    color: var(--colorWhite);
    font-size: 1.4vw;
    font-weight: 500;
}

main .hero-wrapper .world-cup-standings table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

main .hero-wrapper .world-cup-standings table thead tr th:nth-child(1) {
    text-align: left;
}

main .hero-wrapper .world-cup-standings table tbody tr:nth-child(1) {
    border-top: 0px;
}

main .hero-wrapper .world-cup-standings table tbody tr {
    border-top: 0.2vw solid var(--colorPrimary);
}

main .hero-wrapper .world-cup-standings table thead tr th,
main .hero-wrapper .world-cup-standings table tbody tr td {
    font-size: 1.2vw;
}

main .hero-wrapper .world-cup-standings table tbody tr td:not(:nth-child(1)) {
    text-align: center;
    padding: 0 0.5vw;
}

main .hero-wrapper .world-cup-standings table tbody tr td:nth-child(1) {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    align-items: center;
    height: 100%;
    font-weight: 600;
}

main .hero-wrapper .world-cup-standings table tbody tr td:nth-child(1) img {
    width: 3vw;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

main .hero-wrapper .world-cup-standings table tbody tr td:nth-child(2) {
    font-weight: 600;
}

main .other-match-section {
    margin: 6vw 2vw;
}

main .other-match-section .other-match-section-head h1 {
    font-size: 3vw;
    margin-bottom: 1vw;
}

main .other-match-section .other-matches {
    display: flex;
    align-items: center;
    gap: 1.2vw;
    flex-wrap: wrap;
    border-radius: 1.2vw 0 0 1.2vw;
}

main .other-match-section .other-matches::-webkit-scrollbar {
    display: none;
}

main .other-match-section .other-matches .other-match {
    background-color: var(--colorWhite);
    padding: 1.2vw;
    border-radius: 1.2vw;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 1vw;
    min-width: 25vw;
}

main .other-match-section .other-matches .other-match .other-match-top h2 {
    color: var(--colorGrey);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2vw;
}

main .other-match-section .other-matches .other-match .other-match-middle {
    display: flex;
    flex-direction: column;
}

main .other-match-section .other-matches .other-match .other-match-middle .other-match-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .other-match-section .other-matches .other-match .other-match-middle .other-match-team:first-child {
    border-bottom: 0.2vw solid var(--colorPrimary);
}

main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-left {
    display: flex;
    align-items: center;
    gap: 0.8vw;
}

main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-left img {
    width: 3vw;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-left h3 {
    font-size: 1.4vw;
}

main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-right h3 {
    font-size: 1.4vw;
}

main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-right h3 span {
    color: var(--colorGrey);
}

main .other-match-section .other-matches .other-match .other-match-bottom h3 {
    color: var(--colorGrey);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2vw;
}

main .other-match-section .other-matches .more-matches {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    cursor: pointer;
}

main .other-match-section .other-matches .more-matches i {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid var(--colorGrey);
    color: var(--colorGrey);
    font-size: 1.5vw;
}

main .other-match-section .other-matches .more-matches h6 {
    color: var(--colorGrey);
    font-weight: 600;
    font-size: 1.3vw;
}

main .news-section {
    margin: 6vw 2vw;
}

main .news-section>h1 {
    font-size: 3vw;
    margin-bottom: 1vw;
}

main .news-section .news-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2vw;
}

main .news-section .news-section-grid .news {
    height: 30vw;
    position: relative;
    border-radius: 0.8vw;
    overflow: hidden;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

main .news-section .news-section-grid .news.news-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

main .news-section .news-section-grid .news.news-4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

main .news-section .news-section-grid .news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .news-section .news-section-grid .news .news-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 1vw;
    background: linear-gradient(to bottom, transparent, var(--colorBlack));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main .news-section .news-section-grid .news .trending-news-tag h1 {
    font-size: 1.2vw;
    color: var(--colorWhite);
    font-weight: 500;
    text-transform: uppercase;
}

main .news-section .news-section-grid .news .news-text h1 {
    color: var(--colorWhite);
    font-size: 2.6vw;
    font-weight: 500;
    text-wrap: balance;
}

main .news-section .news-section-grid .news .news-text h2 {
    color: var(--colorLightGrey);
    font-size: 1.4vw;
    font-weight: 600;
    text-transform: uppercase
}

main .news-section .more-news-button {
    width: 100%;
    height: 2px;
    background-color: var(--colorGrey);
    margin-top: 5vw;
    position: relative;
}

main .news-section .more-news-button button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--colorGrey);
    background-color: var(--colorPrimary);
    border-radius: 100vw;
    padding: 0.7vw 2vw;
    font-size: 1.2vw;
    font-weight: 600;
    outline: none;
    transition: background-color 0.3s;
}

main .news-section .more-news-button button:hover {
    background-color: var(--colorWhite);
}

main .player-award-section {
    margin: 6vw 2vw;
}

main .player-award-section .player-award-card {
    padding: 1.2vw;
    border-radius: 1.2vw;
    background-color: var(--colorWhite);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

main .player-award-section .player-award-card .player-award-head {
    margin-bottom: 1.2vw;
    position: relative;
    z-index: 2;
}

main .player-award-section .player-award-card .player-award-head h1 {
    font-size: 3vw;
    text-transform: capitalize;
}

main .player-award-section .player-award-card .player-award-head h2 {
    font-size: 1.4vw;
    color: var(--colorGrey);
    font-weight: 600;
    text-transform: uppercase;
}

main .player-award-section .player-award-card .player-award-image {
    height: 35vw;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

main .player-award-section .player-award-card .player-award-image img {
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.3));
}

main .player-award-section .player-award-card .player-award-image .player-award-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

main .player-award-section .player-award-card .player-award-image .player-award-text h1 {
    font-size: 17vw;
    line-height: 17vw;
    -webkit-text-stroke: 0.3vw var(--colorBlack);
    color: transparent;
    user-select: none;
}

main .player-award-section .player-award-card .player-award-image .player-award-text-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

main .player-award-section .player-award-card .player-award-image .player-award-text-2 h1 {
    font-size: 17vw;
    line-height: 17vw;
    color: var(--colorBlack);
    user-select: none;
}

main .player-award-section .player-award-card .player-award-stats {
    width: 100%;
    background-color: var(--colorPrimary);
    border-radius: 1vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.2vw;
    position: relative;
    z-index: 2;
}

main .player-award-section .player-award-card .player-award-stats .player-award-stat-data:not(:last-child) {
    border-right: 2px solid var(--colorLightGrey);
}

main .player-award-section .player-award-card .player-award-stats .player-award-stat-data h3 {
    font-size: 1.4vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

main .player-award-section .player-award-card .player-award-stats .player-award-stat-data h6 {
    font-size: 1.4vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

footer {
    width: 100%;
    padding: 0 2vw;
}

footer .footer-wrapper {
    border-radius: 1.2vw 1.2vw 0 0;
    background-color: var(--colorWhite);
    padding: 1.2vw;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

footer .footer-wrapper .footer-left {
    position: relative;
    height: 100%;
}

footer .footer-wrapper .footer-left img {
    width: 22vw;
    height: 100%;
    object-fit: cover;
}

footer .footer-wrapper .footer-left a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 20px var(--colorBlack);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer .footer-wrapper .footer-left a h1 {
    font-size: 2.5vw;
    color: var(--colorWhite);
    text-align: center;
    text-decoration: none;
}

footer .footer-wrapper .footer-right {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}

footer .footer-wrapper .footer-right .footer-disc {
    border-bottom: 2px solid var(--colorLightGrey);
    padding: 0 0 1.5vw 0;
}

footer .footer-wrapper .footer-right .footer-disc h1 {
    font-size: 1.4vw;
    text-transform: uppercase;
}

footer .footer-wrapper .footer-right .footer-disc h2 {
    font-size: 1.5vw;
    color: var(--colorGrey);
    font-weight: 600;
}

footer .footer-wrapper .footer-right .footer-social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2vw;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer .footer-wrapper .footer-right .footer-social-links .footer-social {
    cursor: pointer;
    background-color: var(--colorPrimary);
    display: flex;
    align-items: center;
    gap: 1.2vw;
    padding: 0.5vw 1.2vw;
    border-radius: 0.8vw;
}

footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-icon i {
    font-size: 2.5vw;
}

footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-text h3 {
    font-size: 1.4vw;
    font-weight: 600;
}

footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-text h4 {
    font-size: 1.2vw;
    font-weight: 500;
    color: var(--colorGrey);
}

footer .footer-wrapper .footer-right .footer-social-links .footer-copyright {
    background-color: var(--colorPrimary);
    border-radius: 0.8vw;
    padding: 1vw;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-wrapper .footer-right .footer-social-links .footer-copyright h1 {
    font-size: 1.4vw;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}











@media screen and (max-width: 1024px) {
    nav {
        padding: 0 20px;
    }

    nav .nav-bar {
        padding: 12px;
        border-radius: 0 0 15px 15px;
    }

    nav .nav-bar .nav-right .nav-search {
        height: 40px;
        width: 40vw;
    }

    nav .nav-bar .nav-right .nav-search input {
        font-size: 16px;
        padding: 0 55px 0 15px;
        border-radius: 10px;
    }

    nav .nav-bar .nav-right .nav-search .nav-search-icon {
        height: 100%;
        width: 40px;
        border-radius: 10px;
    }

    nav .nav-bar .nav-right .nav-search .nav-search-icon i {
        font-size: 14px;
    }

    nav .nav-bar a .nav-left {
        gap: 15px;
    }

    nav .nav-bar a .nav-left h1 {
        font-size: 25px;
    }

    nav .nav-bar a .nav-left img {
        height: 40px;
        width: 40px;
        border-radius: 10px;
    }

    nav .nav-bar .nav-right {
        gap: 15px;
    }

    nav .nav-bar .nav-right .menu-icon {
        height: 40px;
        width: 40px;
        border-radius: 10px;
        font-size: 16px;
    }

    nav .nav-bar .menu {
        width: 45vw;
        top: calc(100% - 12px);
        border-radius: 0 0 15px 15px;
    }

    nav .nav-bar .menu .menu-body {
        padding: 12px;
        gap: 10px;
    }

    nav .nav-bar .menu .menu-body .menu-head h1 {
        font-size: 18px;
    }

    nav .nav-bar .menu .menu-body .menu-links {
        grid-gap: 10px;
    }

    nav .nav-bar .menu .menu-body .menu-links a {
        padding: 6px 12px;
        font-size: 16px;
        border-radius: 10px;
    }

    main {
        padding: 10px 0;
    }

    main .hero-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 10px 20px;
    }

    main .hero-wrapper .hero-section {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
        border-radius: 15px;
    }

    main .hero-wrapper .hero-section .hero-left {
        gap: 20px;
    }

    main .hero-wrapper .hero-section .hero-left .live-indicator {
        font-size: 18px;
    }

    main .hero-wrapper .hero-section .hero-left .live-indicator::before,
    main .hero-wrapper .hero-section .hero-left .live-indicator::after {
        height: 10px;
        width: 10px;
        left: -15px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-head h2 {
        font-size: 16px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-body h2 {
        font-size: 24px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-head h1 {
        font-size: 24px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-body .hero-left-team h2 {
        font-size: 24px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-body .hero-left-team h3 {
        font-size: 18px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-match-info h1 {
        font-size: 16px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-match-info h1.crr {
        margin-bottom: 15px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-buttons button {
        font-size: 16px;
        padding: 8px 20px;
        border-radius: 10px;
        gap: 5px;
    }

    main .hero-wrapper .hero-section .hero-right {
        border-radius: 10px;
    }

    main .hero-wrapper .hero-section .hero-right .hero-right-info {
        padding: 10px;
    }

    main .hero-wrapper .hero-section .hero-right .hero-right-info h2 {
        font-size: 16px;
    }

    main .hero-wrapper .hero-section .hero-right .hero-right-info .hero-right-info-text h1,
    main .hero-wrapper .hero-section .hero-right .hero-right-info .hero-right-info-text h2 {
        font-size: 22px;
    }

    main .hero-wrapper .world-cup-standings table thead tr th,
    main .hero-wrapper .world-cup-standings table tbody tr td {
        font-size: 16px;
    }

    main .hero-wrapper .world-cup-standings table tbody tr td:nth-child(1) {
        padding: 0 5px;
    }

    main .hero-wrapper .world-cup-standings table tbody tr td:nth-child(1) img {
        width: 32px;
    }

    main .hero-wrapper .world-cup-standings table tbody tr td:not(:nth-child(1)) {
        padding: 5px;
    }

    main .hero-wrapper .world-cup-standings {
        padding: 64px 20px 20px 20px;
        border-radius: 15px;
    }

    main .hero-wrapper .world-cup-standings .world-cup-standings-head {
        padding: 10px 20px;
        border-radius: 15px 0 15px 0;
    }

    main .hero-wrapper .world-cup-standings .world-cup-standings-head h1 {
        font-size: 18px;
    }

    main .hero-wrapper .world-cup-standings table tbody tr {
        border-top: 2px solid var(--colorPrimary);
    }

    main .other-match-section {
        margin: 60px 20px;
    }

    main .other-match-section .other-match-section-head h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    main .other-match-section .other-matches {
        gap: 20px;
        border-radius: 15px 0 0 15px;
    }

    main .other-match-section .other-matches .other-match .other-match-top h2 {
        font-size: 16px;
    }

    main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-left h3 {
        font-size: 18px;
    }

    main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-left img {
        width: 32px;
    }

    main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-right h3 {
        font-size: 18px;
    }

    main .other-match-section .other-matches .other-match .other-match-bottom h3 {
        font-size: 16px;
    }

    main .other-match-section .other-matches .other-match {
        padding: 20px;
        gap: 20px;
        border-radius: 15px;
        min-width: 300px;
    }

    main .other-match-section .other-matches .more-matches {
        gap: 10px;
    }

    main .other-match-section .other-matches .more-matches i {
        height: 40px;
        width: 40px;
        font-size: 16px;
        border: 2px solid var(--colorGrey);
    }

    main .other-match-section .other-matches .more-matches h6 {
        font-size: 16px;
    }

    main .news-section {
        margin: 60px 20px;
    }

    main .news-section>h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    main .news-section .news-section-grid {
        grid-gap: 20px;
    }

    main .news-section .news-section-grid .news {
        border-radius: 15px;
    }

    main .news-section .news-section-grid .news .news-text {
        padding: 10px;
    }

    main .news-section .news-section-grid .news .news-text h1 {
        font-size: 24px;
    }

    main .news-section .news-section-grid .news .news-text h2 {
        font-size: 14px;
    }

    main .news-section .more-news-button {
        margin-top: 40px;
    }

    main .news-section .more-news-button button {
        padding: 8px 20px;
        font-size: 14px;
    }

    main .player-award-section {
        margin: 60px 20px;
    }

    main .player-award-section .player-award-card {
        padding: 20px;
        border-radius: 15px;
    }

    main .player-award-section .player-award-card .player-award-head {
        margin-bottom: 10px;
    }

    main .player-award-section .player-award-card .player-award-head h1 {
        font-size: 30px;
    }

    main .player-award-section .player-award-card .player-award-head h2 {
        font-size: 16px;
    }

    main .player-award-section .player-award-card .player-award-image .player-award-text h1 {
        -webkit-text-stroke: 3px var(--colorBlack);
    }

    main .player-award-section .player-award-card .player-award-stats {
        border-radius: 10px;
        padding: 10px;
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data h3 {
        font-size: 16px;
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data h6 {
        font-size: 16px;
    }

    footer {
        padding: 0 20px;
    }

    footer .footer-wrapper {
        border-radius: 15px 15px 0 0;
        padding: 20px;
        gap: 15px;
    }

    footer .footer-wrapper .footer-right {
        gap: 10px;
    }

    footer .footer-wrapper .footer-right .footer-disc {
        padding: 0 0 10px 0;
    }

    footer .footer-wrapper .footer-right .footer-disc h1 {
        font-size: 16px;
    }

    footer .footer-wrapper .footer-right .footer-disc h2 {
        font-size: 16px;
    }

    footer .footer-wrapper .footer-right .footer-social-links {
        grid-gap: 10px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social {
        gap: 10px;
        padding: 5px 10px;
        border-radius: 10px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-icon i {
        font-size: 20px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-text h3 {
        font-size: 16px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-text h4 {
        font-size: 12px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-copyright {
        border-radius: 10px;
        padding: 5px 10px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-copyright h1 {
        font-size: 16px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 768px) {
    .loader-wrapper {
        gap: 15px;
    }

    .loader-wrapper .loader-text h1 {
        font-size: 35px;
    }

    .loader-wrapper .loader-stroke {
        width: 250px;
        height: 3px;
    }

    nav {
        padding: 0 15px;
    }

    nav .nav-bar {
        padding: 10px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    }

    nav .nav-bar a .nav-left {
        gap: 10px;
    }

    nav .nav-bar a .nav-left h1 {
        font-size: 20px;
    }

    nav .nav-bar a .nav-left img {
        height: 35px;
        width: 35px;
        border-radius: 7px;
    }

    nav .nav-bar .nav-right {
        gap: 10px;
    }

    nav .nav-bar .nav-right .nav-search {
        display: none;
    }

    nav .nav-bar .menu {
        top: calc(100% - 10px);
        border-radius: 0 0 10px 10px;
        width: 100%;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    }

    nav .nav-bar .menu .menu-search input {
        height: 35px;
        font-size: 14px;
        width: 100%;
        padding: 0 45px 0 10px;
        border-radius: 7px;
        background-color: var(--colorPrimary);
        border: none;
        outline: none;
        font-weight: 500;
    }

    nav .nav-bar .menu .menu-search .menu-search-icon {
        cursor: pointer;
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 10px;
        border-radius: 7px;
        background-color: var(--colorBlack);
    }

    nav .nav-bar .menu .menu-search .menu-search-icon i {
        font-size: 14px;
        color: var(--colorWhite);
    }

    nav .nav-bar .nav-right .menu-icon {
        height: 35px;
        width: 35px;
        border-radius: 7px;
        font-size: 16px;
    }

    nav .nav-bar .menu .menu-search {
        position: relative;
        display: block;
        padding: 20px 10px 10px 10px;
    }

    nav .nav-bar .menu .menu-body {
        padding: 0 10px 10px 10px;
    }

    nav .nav-bar .menu .menu-body .menu-links a {
        border-radius: 7px;
    }

    main {
        padding: 10px 0;
    }

    main .hero-wrapper {
        margin: 5px 15px;
    }

    main .hero-wrapper .hero-section {
        grid-template-columns: 1fr;
        grid-gap: 15px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    }

    main .hero-wrapper .hero-section .hero-left {
        gap: 15px;
    }

    main .hero-wrapper .hero-section .hero-right .hero-right-info {
        padding: 15px;
    }

    main .hero-wrapper .world-cup-standings {
        padding: 48px 15px 15px 15px;
        border-radius: 10px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    }

    main .hero-wrapper .world-cup-standings .world-cup-standings-head {
        padding: 7px 15px;
        border-radius: 10px 0 10px 0;
    }

    main .hero-wrapper .world-cup-standings .world-cup-standings-head h1 {
        font-size: 16px;
    }

    main .hero-wrapper .world-cup-standings table tbody tr {
        border-top: 1.5px solid var(--colorPrimary);
    }

    main .other-match-section {
        margin: 40px 15px;
    }

    main .other-match-section .other-match-section-head h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    main .other-match-section .other-matches {
        gap: 15px;
        border-radius: 10px 0 0 10px;
    }

    main .other-match-section .other-matches .other-match .other-match-top h2 {
        font-size: 16px;
    }

    main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-left h3 {
        font-size: 18px;
    }

    main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-right h3 {
        font-size: 18px;
    }

    main .other-match-section .other-matches .other-match .other-match-bottom h3 {
        font-size: 16px;
    }

    main .other-match-section .other-matches .other-match {
        padding: 15px;
        gap: 15px;
        border-radius: 10px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    }

    main .other-match-section .other-matches .more-matches {
        gap: 7px;
    }

    main .other-match-section .other-matches .more-matches i {
        height: 35px;
        width: 35px;
        font-size: 14px;
    }

    main .news-section {
        margin: 40px 15px;
    }

    main .news-section>h1 {
        font-size: 25px;
    }

    main .news-section .news-section-grid {
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    main .news-section .news-section-grid .news {
        border-radius: 10px;
        height: 45vw;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    }

    main .news-section .news-section-grid .news.news-4 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    main .news-section .news-section-grid .news .news-text h1 {
        font-size: 20px;
    }

    main .news-section .more-news-button button {
        font-size: 12px;
    }

    main .player-award-section {
        margin: 40px 15px;
    }

    main .player-award-section .player-award-card {
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    }

    main .player-award-section .player-award-card .player-award-head h1 {
        font-size: 25px;
    }

    main .player-award-section .player-award-card .player-award-head h2 {
        font-size: 14px;
    }

    main .player-award-section .player-award-card .player-award-image {
        height: 45vw;
    }

    main .player-award-section .player-award-card .player-award-image img {
        filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.3));
    }

    main .player-award-section .player-award-card .player-award-image .player-award-text h1 {
        font-size: 20vw;
        line-height: 20vw;
    }

    main .player-award-section .player-award-card .player-award-image .player-award-text-2 h1 {
        font-size: 20vw;
        line-height: 20vw;
    }

    main .player-award-section .player-award-card .player-award-image .player-award-text h1 {
        -webkit-text-stroke: 3px var(--colorBlack);
    }

    main .player-award-section .player-award-card .player-award-stats {
        border-radius: 10px;
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data {
        padding: 10px;
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data:not(:last-child) {
        border: none;
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data:nth-child(1),
    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data:nth-child(2) {
        border-bottom: 2px solid var(--colorLightGrey);
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data:nth-child(2n - 1) {
        border-right: 2px solid var(--colorLightGrey);
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data h3 {
        font-size: 14px;
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data h6 {
        font-size: 14px;
    }

    footer {
        padding: 0 15px;
    }

    footer .footer-wrapper {
        border-radius: 10px 10px 0 0;
        padding: 15px;
        flex-direction: column;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    }

    footer .footer-wrapper .footer-left {
        width: 100%;
    }

    footer .footer-wrapper .footer-left img {
        width: 100%;
    }

    footer .footer-wrapper .footer-left a h1 {
        font-size: 10vw;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social {
        padding: 10px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-icon i {
        font-size: 20px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-text h3 {
        font-size: 14px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-text h4 {
        display: none;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-icon {
        border-right: 2px solid var(--colorLightGrey);
        padding-right: 10px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-copyright {
        border-radius: 10px;
        padding: 10px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-copyright h1 {
        font-size: 14px;
    }
}

@media screen and (max-width: 510px) {
    footer .footer-wrapper .footer-right .footer-social-links {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-content: center;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social {
        justify-content: center;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-icon {
        padding: 0;
        border: none;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-copyright {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

@media screen and (max-width: 480px) {
    .loader-wrapper {
        gap: 10px;
    }

    .loader-wrapper .loader-text h1 {
        font-size: 30px;
    }

    .loader-wrapper .loader-stroke {
        width: 200px;
        height: 2px;
    }

    .loader-wrapper .loader-stroke .loader-inner-stroke {
        box-shadow: 0 0 30px var(--blueShade);
    }

    nav .nav-bar .menu .menu-body .menu-head h1 {
        font-size: 16px;
    }

    nav .nav-bar .menu .menu-body .menu-links {
        grid-gap: 10px;
    }

    nav .nav-bar .menu .menu-body .menu-links a {
        padding: 6px;
        font-size: 14px;
    }

    main .hero-wrapper .hero-section {
        grid-gap: 15px;
        padding: 10px;
        border-radius: 10px;
    }

    main .hero-wrapper .hero-section .hero-left .live-indicator {
        font-size: 16px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-head h2 {
        font-size: 14px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-head h1 {
        font-size: 20px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-body h2 {
        font-size: 20px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-body .hero-left-team img {
        width: 48px;
        filter: drop-shadow(drop-shadow(0 0 10px rgba(0, 0, 0, 0.3)));
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-body .hero-left-team h3 {
        font-size: 16px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-body .hero-left-team h2 {
        font-size: 20px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-match-info h1 {
        font-size: 14px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-match-info h1.crr {
        margin-bottom: 10px;
    }

    main .hero-wrapper .hero-section .hero-right .hero-right-info {
        padding: 10px;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-buttons {
        width: 100%;
    }

    main .hero-wrapper .hero-section .hero-left .hero-left-buttons button {
        width: 100%;
        font-size: 14px;
        border-radius: 7px;
    }

    main .hero-wrapper .hero-section .hero-right {
        border-radius: 7px;
    }

    main .hero-wrapper .hero-section .hero-right .hero-right-info h2 {
        font-size: 14px;
    }

    main .hero-wrapper .hero-section .hero-right .hero-right-info .hero-right-info-text h1,
    main .hero-wrapper .hero-section .hero-right .hero-right-info .hero-right-info-text h2 {
        font-size: 18px;
    }

    main .hero-wrapper .world-cup-standings table thead tr th,
    main .hero-wrapper .world-cup-standings table tbody tr td {
        font-size: 14px;
    }

    main .hero-wrapper .world-cup-standings table tbody tr td:nth-child(1) img {
        width: 24px;
    }

    main .other-match-section .other-match-section-head h1 {
        font-size: 20px;
    }

    main .other-match-section .other-matches {
        gap: 10px;
        border-radius: 7px 0 0 7px;
    }

    main .other-match-section .other-matches .other-match .other-match-top h2 {
        font-size: 14px;
    }

    main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-left h3 {
        font-size: 16px;
    }

    main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-left img {
        width: 24px;
    }

    main .other-match-section .other-matches .other-match .other-match-middle .other-match-team .other-match-team-right h3 {
        font-size: 14px;
    }

    main .other-match-section .other-matches .other-match .other-match-bottom h3 {
        font-size: 14px;
    }

    main .other-match-section .other-matches .other-match {
        padding: 10px;
        gap: 10px;
        min-width: 260px;
    }

    main .other-match-section .other-matches .more-matches {
        gap: 5px;
    }

    main .other-match-section .other-matches .more-matches i {
        height: 35px;
        width: 35px;
        border: 1.5px solid var(--colorGrey);
        font-size: 14px;
    }

    main .other-match-section .other-matches .more-matches h6 {
        font-size: 14px;
    }

    main .news-section>h1 {
        font-size: 20px;
    }

    main .news-section .news-section-grid {
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    main .news-section .news-section-grid .news {
        height: 50vw;
    }

    main .news-section .news-section-grid .news.news-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        height: 100%;
    }

    main .news-section .news-section-grid .news.news-4 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main .news-section .news-section-grid .news .news-text h2 {
        font-size: 12px;
    }

    main .player-award-section .player-award-card {
        padding: 10px;
    }

    main .player-award-section .player-award-card .player-award-head h1 {
        font-size: 20px;
    }

    main .player-award-section .player-award-card .player-award-head h2 {
        font-size: 12px;
    }

    main .player-award-section .player-award-card .player-award-image {
        height: 55vw;
    }

    main .player-award-section .player-award-card .player-award-image .player-award-text h1 {
        -webkit-text-stroke: 2px var(--colorBlack);
    }

    main .player-award-section .player-award-card .player-award-stats {
        border-radius: 7px;
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data {
        padding: 5px;
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data:nth-child(1),
    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data:nth-child(2) {
        border-bottom: 1px solid var(--colorLightGrey);
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data:nth-child(2n - 1) {
        border-right: 1px solid var(--colorLightGrey);
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data h3 {
        font-size: 12px;
    }

    main .player-award-section .player-award-card .player-award-stats .player-award-stat-data h6 {
        font-size: 12px;
    }

    footer .footer-wrapper {
        padding: 10px;
    }

    footer .footer-wrapper .footer-right .footer-disc h1 {
        font-size: 14px;
    }

    footer .footer-wrapper .footer-right .footer-disc h2 {
        font-size: 14px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social {
        gap: 10px;
        padding: 5px 10px;
        border-radius: 7px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-icon i {
        font-size: 16px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-social .footer-social-text h3 {
        font-size: 14px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-copyright {
        border-radius: 7px;
    }

    footer .footer-wrapper .footer-right .footer-social-links .footer-copyright h1 {
        font-size: 14px;
    }
}